<div class="favourites-display invisible" id="favourites-display">
    {{#each user.favourites as |favourite|}}

        <button class="fill text" style="width: 240px;">{{favourite}}</button>

    {{/each}}
</div>
