<div class="main" id="searchSection">
    <form method="post" class="center">
        <input type="text" name="searchID" placeholder="Enter a valid user ID, i.e. Danii-21705" class="searchbar">

        <div class="hoz-buffer"></div>

        <a href="/api/results"><button type="submit" class="fill text short-boi" id="searchButton">Search</button></a>
    </form>
</div>